@charset "utf-8";

body
{

}

/* 초기화 */
*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color:inherit;}
li{list-style:none;}
button{background: none; border: none;}

/* 1차 디자인 */
.header
{
  width: 100%;  /* 모바일은 무조건 100% */
  height: 48px;
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);

  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.header button
{
  color: #fff;
  font-size: 24px;
}

.header h1 a
{
  display:block;
  width:149px;
  height:44px;

  background: url("../images/lg%20logo.png") no-repeat center;
  background-size: 149px 22px;

  text-indent: -99999px;
}

.gnb
{
  width: 100%;
  height: 48px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.gnb li a
{
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}