@charset "utf-8";
body{

}

/* 초기화 */
*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}


.header
{
    width: 100%;
    height: 63px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position:absolute;
    left: 0;
    top: 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.header ul
{
    display: flex;
    gap: 30px;
}


.header h1 a
{
    display: block;
    width: 115px;
    height: 31px;
    background: url(../images/로고.PNG);
    text-indent: -99999px;
}


.header ul li a
{
    color: #fff;
font-size: 20px;
}

.visual
{
    width: 100%;
}

.visual img
{
    width: 100%;
}