@charset "utf-8";

/* 초기화 */
*{margin:0; padding:0; box-sizing:border-box;}
a{text-decoration:none; color:inherit;}
li{list-style:none;}

.header{
  width:100%;
  background:#000;
  color:#fff;

  display:flex;
  flex-direction:column;
  position:absolute;
  left:0; top:0;
}

/* 윗줄 */
.header .first{
  height:50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 16px;
  border-bottom:1px solid rgba(255,255,255,.5);
}

.header .first a{
  font-size:20px;
  color:#fff;
}

/* 로고 */
.header .first .logo h1{
  width:148px;
  height:22px;
}

.header .first .logo h1 a{
  display:block;
  width:100%;
  height:100%;
  background:url(../images/lg\ logo.png) no-repeat center / contain;
  text-indent:-9999px;
}

/* 아랫줄 메뉴 */
.header .second{
  height:50px;
  display:flex;
  justify-content:space-around; /* 균등 배치 */
  align-items:center;
}

.header .second a{
  display:block;
  color:#fff;
  font-size:15px;
  font-weight:600;
}

.visual
{
    width: 100%;
    height: 900px;
}

.visual img
{
    width: 100%;
    height: 100%;
}