@charset "utf-8";
body
{
    background-color: #fff;
    color: #333;
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.wrap
{
    width: 1200px;
    margin: 0 auto;
}

.header
{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: burlywood;
}

.header .logo
{
    width: 200px;
    height: 40px;
    background: antiquewhite;
}

.header .main
{
    width: 600px;
    height: 40px;
    background: coral;
}

.slide 
{
    width: 1200px;
    height: 300px;
    background: cornflowerblue;
    display: flex;
}

.slide .img1
{
    width: 400px;
    height: 300px;
    background: darkcyan;
}
.slide .img2
{
    width: 400px;
    height: 300px;
    background: darkgoldenrod;
}
.slide .img3
{
    width: 400px;
    height: 300px;
    background: darkolivegreen;
}

.contents
{
    width: 1200px;
    height: 200px;
    display: flex;
}

.contents .notice
{
    width: 400px;
    height: 200px;
    background: brown;
}
.contents .banner
{
    width: 400px;
    height: 200px;
    background: thistle;
}
.contents .golink
{
    width: 400px;
    height: 200px;
    background: hotpink;
}

.footer 
{
    width: 1200px;
    height: 100px;
    background: navajowhite;
    display: flex;
    align-items: center;
}

.footer .logo
{
    width: 200px;
    height: 40px;
    background: antiquewhite;
}

.footer ul
{
    display: block;
    width: 1000px;
    height: 100px;
    background: khaki;
}

.footer ul .under
{
    width: 1000px;
    height: 50px;
    background: orange;
}
.footer ul .copy
{
    width: 1000px;
    height: 50px;
    background: slategray;
}