@charset "utf-8";

/* 나눔바른고딕 폰트 불러오기 */
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css");

body {
    font-family: 'NanumBarunGothic', sans-serif;
}

/* 초기화 */
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}


/* 헤더+이너박스 디자인 */
.header
{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
}

.header .inner
{
    width: 1360px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .inner h1 a
{
    display: block;
    width: 278px;
    height: 20px;
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -99999px;
}

/* 1차메뉴 디자인 */
.gnb
{
    width: 1360px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    z-index: 100;
}

.gnb>li>a
{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;

    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.gnb>li:hover>a
{
    color: #d1ac7f;
}


/* 2차메뉴 디자인*/

.gnb >li>.depth2
{
    width: 1360px;
    height: 43px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    align-items: center;
    gap: 63px;
    justify-content: center;
    display: none;
    z-index: 100;
}

.gnb>li:hover>.depth2
{
        display: flex;
}

.gnb >li>.depth2 li a
{
    color: #838383;
    font-size: 13px;
    font-weight: lighter;
}

.gnb >li>.depth2 li:hover a
{
    color: #333;
}

.gnb>li:hover>.depth2
{
    display: flex;
}


/* 슬라이드영역 */
.swiper{
    width: 1360px;
    height: 610px;
    margin: 0 auto;
    position: relative; /* 컨트롤 위치 기준 */
}

.swiper-slide{
    width: 1360px;
    height: 610px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오른쪽 아래 컨트롤 묶음 */
.visual-controls{
    position: absolute;
    right: 40px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 1px;
    z-index: 10;
}

/* 페이지네이션(동그라미) */
.swiper-pagination{
    position: static;          /* Swiper 기본 absolute 없앰 */
    display: flex;
    align-items: center;
    gap: 1px;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #555;
    opacity: 0.2;
}

.swiper-pagination-bullet-active{
    opacity: 0.5;
}

/* 일시정지/재생 버튼 */
.swiper-toggle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    color: #444;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
    background: transparent;
}

.swiper-toggle:focus{
    outline: none;
}