@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

.header{
    width: 100%;
    height: 73px;
    background: #fff;
}

.header .inner
{
    width: 1000px;
    height: 73px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header .inner h1 a{
    display: block;
    width: 158px;
    height: 35px;
    background: url(../images/h1_logo_sub.gif) no-repeat;
    text-indent: -99999px;
}

.line
{
    width: 100%;
    height: 4px;
    background: url(../images/bg_gnb.gif) no-repeat;
}

.main{
    width: 100%;
    height: 2230px;
    background: #e9eef2;
}

.footer
{
    width: 100%;
    height: 120px;
    border-top: 1px solid #d6e0df;
}

.footer .inner
{
    width: 940px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    box-sizing: border-box;
}

.footer .inner .wrap ul.list
{
    display: flex;
    width: 610px;
    flex-wrap: wrap;
    gap: 10px ;
}
.footer .inner .wrap ul.list li
{
    position: relative;
}

/* 경계선 */
.footer .inner .wrap ul.list li::after{
    content: '';
    width: 1px;
    height: 10px;
    background: #bbbbbb;
    position: absolute;
    left: -5px;
    top: 60%;
    transform: translateY(-50%);
}

/* 1, 7번쨰 요소 경계선 숨김 */
.footer .inner .wrap ul.list li:nth-child(1)::after,
.footer .inner .wrap ul.list li:nth-child(7)::after
{
    display: none;
}

/* 1,2,3,8,9 글자 색깔 변경 */
.footer .inner .wrap ul.list li:nth-child(1) a,
.footer .inner .wrap ul.list li:nth-child(2) a,
.footer .inner .wrap ul.list li:nth-child(3) a,
.footer .inner .wrap ul.list li:nth-child(8) a,
.footer .inner .wrap ul.list li:nth-child(9) a
{ 
    color: #0f53a8;
}




.footer .inner .wrap ul.list li a
{
    font-size: 12px;
    color: #575757;
    letter-spacing: -1px;
}


.footer .inner .wrap p.copy{
    font-size: 12px;
    color: #575757;
    margin-top: 10px;
}

.footer .inner .family_wrap button
{
    width: 140px;
    height: 25px;
    border: 1px solid #bec9ca;
    background: #fff;
    text-align: left;
    text-indent: 8px;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    color: #575757;
    cursor: pointer;
}

.footer .inner .family_wrap 
{
    display: flex;
    gap: 6px;
    
}
.footer .inner .family_wrap button::after{
    content: '';
    width: 9px;
    height: 5px;
    background: url(../images/select_ico.png) no-repeat;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.footer .inner .family_wrap .family
{
    position: relative;
}

.footer .inner .family_wrap .family .family_list 
{
    position: absolute;
    left: 0;
    bottom: 59px;
    width: 140px;
    height: 135px;
    border: 1px solid #bec9ca;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
}

.footer .inner .family_wrap .family .family_list li
{
    text-indent: 10px;
    line-height: 19px;
}

.footer .inner .family_wrap .family .family_list li a{
    font-size: 12px;
    color: #575757;
    letter-spacing: -1px;
    overflow: auto;
}


.footer .inner .family_wrap .family .family_list li:hover a{
    color: #0f53a8;
}


/* 두번째버튼 */
.footer .inner .family_wrap .family2 {
    position: relative;
}

.footer .inner .family_wrap .family2 .family_list
{
    position: absolute;
    left: 0;
    bottom: 59px;
    width: 140px;
    height: 135px;
    border: 1px solid #bec9ca;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
}

.footer .inner .family_wrap .family2 .family_list li 
{
    text-indent: 10px;
    line-height: 19px;
}

.footer .inner .family_wrap .family2 .family_list li a{
    font-size: 12px;
    color: #575757;
    letter-spacing: -1px;
    overflow: auto;
}