@charset "utf-8";
body
{

}
*{margin: 0; padding: 0;}
button{border: none; background: none;}

.box
{
    width: 1000px;
    height: 1003px;
    /* 가로가운데 세로가운데 정리 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box .left
{
    position: absolute;
    left: 50%;
    margin-left: -73px;
    top: 50%;
    margin-top: -501.5px;
    animation: left_ani 2s ease-in-out forwards;
}

@keyframes left_ani
{
    from{left: 50%;}
    to{left:20%}
}

.box .right
{
    position: absolute;
    right: 50%;
    margin-right: -73px;
    top: 50%;
    margin-top: -501.5px;
    animation: right_ani 2s ease-in-out forwards;
}

@keyframes right_ani
{
    from{right: 50%;}
    to{right:20%}
}

.tit
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.tit h2
{
    font-size: 32px;
    font-weight: 900;
    color: #333;
    line-height: 45px;
    opacity: 0;
    animation: h2_ani 1s ease-in-out forwards 2s;
}

@keyframes h2_ani
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.tit p
{
    font-size: 17px;
    color: #888;
    font-weight: 700;
    line-height: 22px;
    margin: 24px 0;
    opacity: 0;
    animation: p_ani 1s ease-in-out forwards 2.5s;
}
@keyframes p_ani
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.tit button
{
    cursor: pointer;
    opacity: 0;
    animation: but_ani 1s ease-in-out forwards 3s;
}

@keyframes but_ani
{
    form{opacity: 0;}
    to{opacity: 1;}
}