@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    /* 애니메이션 실해 명령 입력 */
    animation-name: test_ani;
    /* 애니메이션 실행 시간 */
    animation-duration: 2s;
    /* 애니메이션 반복 실행 */
    animation-iteration-count: 10;
}

/* 애니메이션 설정 */
@keyframes test_ani {
    from{background: red;}
    to{background: blue;}
}