@charset "utf-8";

body
{

}

*{margin: 0; padding: 0;}

div
{
    width: 800px;
    height: 600px;
    text-align: justify;
    /* 부모요소보다 초과된 데이터를 안보이게 할때 */
    overflow: hidden;
    /*  스크롤 줄때 */
    overflow: auto;
    overflow-y: auto;
    border: 5px solid red;
}