@charset "utf-8";

body{

}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

h1
{
    text-shadow: 4px 4px 15px rgba(255,0,0,0.5);
    text-align: center;
}

h2
{
    color: #fff;
    text-shadow: -2px -2px 2px #000;
    text-align: center;
}

h3
{
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
}

h4
{
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 2px red, 0 0 5px blue, 0 0 10px green;
}

div
{
    width: 200px;
    height: 200px;
    background: #fff;
    border: 1px solid #000;
    margin: 50px auto;
    position: relative;
}

.box1
{
    box-shadow: 10px 10px 3px red;
}

.box2
{
    box-shadow: 10px 10px 3px blue;
}

/* 안쪽그림자효과 */
.box3
{
    box-shadow: 10px 10px 5px gray inset;
}

/* 투명도 */
.box4
{
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

/* 응용문제 */
.box5
{
    width: 710px;
    height: 140px;
    border: 1px solid #000;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 12px 24px 36px 48px; 
    box-shadow: 0 0  8px #000;
}