@charset "utf-8";
@import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet);

body{
    background: #555555;
    font-family: 'NanumBarunGothic';
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

h1
{
    color: #000;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    margin: 60px 0 100px 0;
}

ul
{
    width:640px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

ul li
{
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 80px;

    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 5px 10px white;
}

ul li a
{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #555555 50%, #000 50%);
    color: #fff;
    
    text-align: center;
    font-size: 12px; 
}

ul li:hover a
{
    background-image: linear-gradient(to bottom,#ff9835 50%,#f44206 50%);
}