@charset "utf-8"
body
{font-family: "맑은고딕", "algun gothic", sans-serif;}
*{margin: 0; padding: 0;}
button{border: none;}
li{list-style: none;}
a{text-decoration: none;}

.header
{
    width: 100%;
    height: 45px;
    background-color: #33353f;
    display: flex;
    justify-content: space-between;
}

.header button img
{
    width: 45px;
}
.header h1 a img
{ 
    width: 90px;
}



/* slick slide */
.slickslide
{
    width: 100%;
    position: relative;
}

.slickslide img{
    width: 100%;
    height: 100%;
}

/* 슬라이드 prev 버튼 커스텀마이징 */
.slick-prev{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /*핵중요 순서를 위로 올려라 레이어올려라*/
    width: 16px;
    height: 30px;
    background: url(../images/imgi_48_btn_health_left.png);
    text-indent: -99999px;
    cursor: pointer;
}

.slick-next{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /*핵중요 순서를 위로 올려라 레이어올려라*/
    width: 16px;
    height: 30px;
    background: url(../images/imgi_47_btn_health_right.png);
    text-indent: -99999px;
    cursor: pointer; 
}

ul.slick-dots{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

ul.slick-dots li button{
    width: 8px;
    height: 8px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}

ul.slick-dots li.slick-active button{
    background: #007aff;
}