@charset "utf-8";
body
{font-family: "맑은고딕","malgungothic" sans-serif;}

h1
{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: yellow;
}

div
{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    left: 0;
    top: 0;
}

.box1
{
    background-color: red;
    /* 공중에 띄움 */
    position: absolute;
    /* 띄우는 위치 */
    left: 100px;
    top:100px;
    position: static;
    position: absolute;
    /* positoin에서 가로 중앙 정렬 */
    left: 50%;
    top:0;
    margin-left: -100px;
    /* position에서 세로 가운데 정렬 */
    top: 50%;
    margin-top: -100px;
}

.box2
{
    background-color: green;
    position: relative;
}

.box3   
{
    background-color: blue;
}

.box4
{
    background-color: skyblue;
    position: absolute;
    right:0;
    bottom:0;
    /* position공중에 띄운 명령 해제 */
    position: static;
}

.box2 div
{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
}

.box2 .child1
{
    background-color: orange;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 4;
}

.box2 .child2
{
    background-color: pink;
    position: absolute;
    left: 90px;
    top: 90px;
    z-index: 5;
}
