@charset "utf-8";

body
{

}

*{margin: 0; padding: 0;}

.box1
{
    width: 450px;
    height: 70px;
    background-color: #0cf;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    transform: rotate(-45deg);
    margin: 50px 0 0 -100px;
}

.box2
{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background: #cf0;
    margin: 400px 0 0 30px;
    text-align: center;
    font-size: 30px;
    line-height: 200px;
    margin-left: 60px;
    /* transform: skewX(-15deg); */
    /* transform: skewY(-15deg); */
    transform: skewX(-30deg);
}

.box3
{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-color: #ffcc00;
    text-align: center;
    font-size: 30px;
    line-height: 200px;

    position: absolute;
    left: 850px;
    top: 400px;

    /* transform: translate(100px,100px) */

    /* 요소의 사이즈를 몰라도 가로가운데 / 세로가운데 정렬 */
    transform: translate(-50%,-50%);
}

.box4
{
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
    border-radius: 100%;

    position: absolute;
    left: 350px;
    top: 250px;

    /* a태그 사용 x손모양 */
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.box4:hover
{
    /* transform: scale(1.12) rotate(360deg); */
    transform: scale(1.1);
}