@charset "utf-8";
/* 웹폰트 설정 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
body
{
    font-family: "NanumSquareRound";
}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.box
{
    width: 1200px;
    margin: 0 auto;
    padding: 90px 0;
}

.box h2
{
    font-size: 42px;
    color: #142849;
    font-weight: bold;
    margin-bottom: 70px;
}

.box ul
{
    display: flex;
    gap: 24px;
}

.box ul li
{
    width: 384px;
    transition: all 0.5s ease-in-out;
}

.box ul li a
{
    display: block;
    width: 100%;
    height: 100%;
}

.box ul li a .imgbox
{
    width: 100%;
    height: 217px;
}

.box ul li a .imgbox img
{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.box ul li a h3
{
    text-align: left;
    font-size: 21px;
    font-weight: 900;
    color: #142849;
    line-height: 27px;
    margin-top: 28px;
}

.box ul li:hover
{
    transform: translatey(-10px);
}