@charset "utf-8"

body{}
*{margin: 0; padding: 0;}
li{list-style: none;}
.box
{
    width: 1000px;
    height: 300px;
    border: 4px solid red;
    margin: 0 auto;
}
.box div
{
    width: 480px;
    height: 300px;
    background-color: rgb(206, 109, 161);
    float: left;
    margin-right: 40px;
}
.box .last
{
    margin-right: 0;
}

ul
{
    width: 1000px;
    height: 300px;
    border: 4px solid #000;
    margin: 0 auto;
}
li
{
        width: 480px;
    height: 300px;
    background-color: rgb(140, 44, 95);
    float: left;
    margin-right: 40px;
}
.last2{margin-right: 0;}

.box2{
    width: 1000px;
    height: 300px;
    border: 4px solid #000;
    margin: 0 auto;
}
.box2 div
{
    width: 320px;
    height: 300px;
    background-color: yellow;
    float: left;
    margin-right: 20px;
}
.box2 .last {margin-right: 0;}

.ul3
{
    width: 1000px;
    height: 300px;
    border: 4px solid #f41d1d;
    margin: 0 auto;
}

.ul3 li
{
    width: 320px;
    height: 300px;
    background-color: green;
    float: lfet;
    margin-right: 20px;
}

.ul3 .last
{margin-right: 0;}