@charset "utf-8";
body{

}
*{margin: 0; padding: 0;}
li{list-style: none;}

.box{
    width: 1000px; height: 500px;
    border: 5px solid #0002fd;
    margin: auto
}
.box div{
    width: 300px; height: 200px;
    border: 4px solid #000;
    float: left;
    /* margin-right: 20px;
    margin-top: 20px; */
    margin: 20px 20px 0px 0px;
    border-radius: 16px;
}

ul{width: 1000px;
height: 500px;
border: 5px solid #0002fd;
margin: 20px auto 0;
}

li{
width: 300px; height: 200px;
border: 4px solid #000;
/* 아래로 쌓여진 요소를 옆으로 배치 */
float: left;
margin: 20px 20px 0px 0px;
border-radius: 16px;
}