@charset "utf-8"

body{}

*{margin: 0; padding: 0;}
li{list-style: none;}

div.box 
{
    width: 1680px;
    height: 500px;
    margin: auto;
}

div
{
    width: 350px;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    float: left;
    margin-right: 40px;
}

div .first
{
    width: 350px;
    height: 380px;
    margin-right: 40px;
    background-color: #290ce9;
    float: left;
    margin-right: 40px;
}

.box.last
{margin-right: 0;}



ul
{
    width: 1680px;
    height: 500px;
    margin: auto;
}

ul .first
{
    width: 350px;
    height: 380px;
    margin-right: 40px;
    background-color: #290ce9;
    float: left;
    margin-right: 40px;
}

li
{
    width: 350px;
    height: 380px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    float: left;
    margin-right: 40px;
}
