@charset "utf-8"
body{}

*{margin: 0; padding: 0;}
li{list-style: none;}

.box
{
    width: 1000px;
    height: 300px;
    border: 4px solid black;
    margin: auto;
}

.box div
{
    width: 235px;
    height: 300px;
    background-color: blue;
    margin-right: 20px;
    float: left;
}

.box .last
{margin-right: 0px;}

ul
{
    width: 1000px;
    height: 300px;
    border: 4px solid black;
    margin: 20px auto;
}

li
{
    width: 235px;
    height: 300px;
    background-color: blue;
    margin-right: 20px;
    float: left;
}

ul .last
{margin-right: 0px;}