@charset "utf-8";
body
{ font-family: "맑은고딕", "malgun gothic",sans-serif;}
* {margin: 0; padding: 0;}
li {list-style: none;}
a{text-decoration: none;}

h2 {text-align: center;}

ul
{
    width: 1200px;
    margin: 0 auto;
    background-color: #white;
    overflow: hidden;
}
ul li
{
    width: 285px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}

ul li a
{
    display: boloc;
    width: 100%;
    height: 100%;
}

ul li a .imgbox
{
    width: 100%;
    height: 196px;
}

ul li a .imgbox img
{width: 100%; height: 100%;}

ul li a .inforbox
{
    padding: 23px 16px;
    box-sizing: border-box;
}

ul li a .inforbox h3
{
    font-size: 22px;
    color: #222;
    line-height: 29px;
    margin-bottom: 26px;
}

ul li a .inforbox p
{
    font-size: 18px;
    color: #555;
    line-height: 25px;
}

ul li a .inforbox .price
{
    font-size: 22px;
    font-weight: bold;
    color: #ff5c46;
    margin-top: 20px;
}

ul .last
{margin-right: 0px;}