@charset "utf-8";

body
{background-color: #649226;}

/* 초기화작업 */
*{margin: 0; padding: 0;}
/* 특수문자 없애기 */
li{list-style:none;}
/* 하이퍼링크 밑줄 없애기 */
a{text-decoration: none;}

ul        
{
    width: 1280px;
    margin: 40px auto 0;
    /* 자식 크기 만큼 감싸 */
    overflow: hidden;
}

ul li
{
    width: 400px;
    height: 272px;
    background-color: pink;
    float: left;
    margin-right: 40px;
}

ul li a
/* 옆으로 배치하는 태그는 inline태그 */
/* 아래로 배치하는 태그는 block태그 */
/* inline 태그의 특징은 크기를 설정 못한다. */
/* inline 태그의 크기를 주려면 block요소 태그 성질로 변환 */
/* display:block */
{
    display: block;
    width: 100%; 
    height: 100%;
}

ul li a .imgbox
{
    width: 100%;
    height: 227px;
}

ul li a .imgbox img
{
    width: 100%;
    height: 100%;
}

ul li a .text
{
    width: 100%;
    height: 45px;
    background-color: white;
    text-align: center;
}

ul li a .text h3
{
    line-height: 45px;
    color: #222;
}

ul .last
{margin-right: 0;}