@charset "utf-8";
body{

}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{background: none; border: none;}

div
{
    width: 1000px;
    height: 300px;
    border: 1px solid #000;
    background-image: linear-gradient(to right, red, orange, yellow, blue,navy, purple );
}