@charset "utf-8";
body{

}

*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
button{background: none; border: none;}


div{
    width: 800px;
    height: 600px;
    border: 1px solid #000;
    background-image: linear-gradient(to bottom, #0a9c09, #fff);
    text-align: center;
    margin: 45px auto 0px;
}

button{
    width: 130px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 999px;
    background-image: linear-gradient(to bottom, #8ad1ff, #2878cd);
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 700px;
}