@charset "utf-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 영역 */
body {
    padding: 50px 0;
}

/* 이미지 래퍼 */
.wrap {
    width: 1170px;
    height: 285px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 auto;
}

/* 공통 이미지 */
.wrap img {
    display: block;
    width: 265px;
    height: 285px;
    transition: filter 0.4s ease; 
}

/* 이미지 효과 */
.test1 {
    filter: blur(10px);
}
.test1:hover {
    filter: invert(100%) blur(1px);
}

.test2 {
    filter: opacity(50%);
}
.test2:hover {
    filter: sepia(50%);
}

.test3 {
    filter: grayscale(100%);
}
.test3:hover {
    filter: hue-rotate(90deg);
}

.test4 {
    filter: drop-shadow(10px 10px 10px gray);
}
.test4:hover {
    filter: contrast(80%);
}
