@charset "utf-8";

body
{

}

*{margin: 0; padding: 0; margin: auto;}

div
{
    width: 800px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 10px;
}

.box1
{
    background-color: #00ff00;
}

.box2
{
    background: rgb(0,255,0);
}

.box3
{
    background: rgba(0, 255, 0, 0.5);
}

.box4
{
    background-color: #ff00ff;
}

.box5
{
    background: rgb(255, 0, 255, 0.3);
}