@charset "utf-8";
body
{font-family: "맑은고딕", "malgungothic", sans-serif;}

*{margin: 0; padding: 0;}

li{list-style: none;}
a{text-decoration: none;}
button{border: none; background: none;}

.header
{
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.header h1 a
{
    color: #009fff;
font-weight: bold;
}

.visual
{
    width: 100%;
    height: 100%;
}
.visual img
{
    width: 100%;
    height: 100%;
}